<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>(Unofficial) Cabins By The Ape Society</title>

    <meta property="og:title" content="(Unofficial) Cabins By The Ape Society" />
    <meta property="og:description" content="An interactive map with The Ape Society CNFT tiles and Cabins" />
    <meta property="og:url" content="./heatmap.png" />
    <meta property="og:image" content="./heatmap.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap" rel="stylesheet" />
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: 'Fira Code', monospace;
      }

      body {
        background-color: #383838;
        height: 200vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      select,
      input {
        margin-bottom: 16px;
        padding: 10px;
        font-size: 16px;
      }

      input {
        margin-left: 8px;
      }

      canvas {
        border: 1px solid black;
        image-rendering: pixelated;
      }

      #popover {
        padding: 16px;
        pointer-events: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #f0f0f0;
        border: 1px solid #636363;
        border-radius: 10px;
      }

      .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .mt {
        margin-top: 16px;
      }

      .row:nth-child() + .row:nth-child() {
        margin-left: 16px;
      }

      h1 {
        margin-bottom: 16px;
      }

      .white {
        color: #fff;
      }
    </style>
  </head>

  <body>
    <div class="col mt">
      <h1 class="white">This is an unofficial project</h1>
      <p class="white">Change view mode</p>
      <div class="row">
        <select id="viewMode" name="View Trait Mode" onchange="onViewModeChange(event)">
          <option value="size">size</option>
          <option value="street">street</option>
          <option value="district">district</option>
          <option value="slvd rating">slvd rating</option>
          <option value="buy now">buy now</option>
          <option value="test slvd rating">test slvd rating</option>
          <!-- <option value="test">test</option> -->
        </select>
      </div>

      <p class="white">Find by coords (0 = none)</p>

      <div class="row">
        <input id="xCoord" type="number" step="1" value="0" min="0" max="100" onchange="onCoordChange(event)" />
        <input id="yCoord" type="number" step="1" value="0" min="0" max="100" onchange="onCoordChange(event)" />
      </div>

      <p class="white">Click to open on JPG.store when cursor change (use "buy now" mode to better view)</p>
    </div>

    <canvas id="canvas"></canvas>

    <div class="col mt">
      <p class="white">Dev by: <strong>$brunodev</strong> (accepting donations)</p>
      <p class="white">Sponsored by: <strong>$dao.dao.dao</strong></p>
    </div>

    <div id="popover">
      <p id="coord">COORD</p>
      <p id="name">STREET_NAME</p>
      <p id="info">INFO</p>
    </div>

    <script>
      let onViewModeChange = () => {};
      let onCoordChange = () => {};
      (async () => {
        const response = await fetch('assets.json');
        const assets = await response.json();

        const canvas = document.querySelector('#canvas');
        const ctx = canvas.getContext('2d');
        const body = document.querySelector('body');

        const roadSize = 2;
        const squareSize = 7;
        const mapWidth = 101;
        const mapHeight = 101;

        canvas.width = mapWidth * squareSize + mapWidth * roadSize + squareSize + roadSize;
        canvas.height = mapHeight * squareSize + mapHeight * roadSize + squareSize + roadSize;

        body.style.width = canvas.width * 2 + 'px';
        body.style.height = canvas.height * 2 + 'px';

        const sizeColors = {
          chateau: '#fbff00',
          estate: '#8a4021',
          cottage: '#3dad4c',
        };

        document.onload = (() => render('size'))();

        // bind function scope
        onViewModeChange = function (event) {
          const viewMode = event.target.value;
          const xCoordInput = document.querySelector('#xCoord');
          const yCoordInput = document.querySelector('#yCoord');
          render(viewMode, xCoordInput.value, yCoordInput.value);
          console.log(viewMode);
        };

        onCoordChange = function (event) {
          const viewModeEl = document.querySelector('#viewMode');
          const xCoordInput = document.querySelector('#xCoord');
          const yCoordInput = document.querySelector('#yCoord');
          const viewMode = viewModeEl.value;
          render(viewMode, xCoordInput.value, yCoordInput.value);
        };

        async function render(viewMode, highlightX, highlightY) {
          const colors = {};

          // clear
          ctx.fillStyle = 'black';
          ctx.fillRect(0, 0, canvas.width, canvas.height);

          // draw squares for each asset
          for (let x = 1; x <= mapWidth; x++) {
            for (let y = 1; y <= mapHeight; y++) {
              const coordX = x * squareSize + x * roadSize;
              const coordY = squareSize * mapHeight + roadSize * mapHeight + squareSize - roadSize - (y * squareSize + y * roadSize);

              const asset = assets[`${x},${y}`];

              if (!asset) continue;

              if (viewMode === 'size') {
                ctx.fillStyle = sizeColors[asset.traits['cabin size']];
              }

              // // rua
              if (viewMode === 'street') {
                ctx.fillStyle =
                  colors?.[asset.traits.street] ||
                  (colors[asset.traits.street] = '#' + ((Math.random() * 0xffffff) << 0).toString(16).padStart(6, '0'));
              }

              // // district
              if (viewMode === 'district') {
                ctx.fillStyle =
                  colors?.[asset.traits.district] ||
                  (colors[asset.traits.district] = '#' + ((Math.random() * 0xffffff) << 0).toString(16).padStart(6, '0'));
              }

              // // slvd rating
              if (viewMode === 'slvd rating') {
                // A-Z
                const slvdRating = asset.traits['slvd rating'].toUpperCase();
                const colorNumber = 16581375 - Math.floor(((slvdRating.charCodeAt(0) - 65) / 26) * 16581375);
                ctx.fillStyle = colors?.[slvdRating] || (colors[slvdRating] = `#${colorNumber.toString(16).padStart(6, '0')}`);
              }

              // // test slvd rating
              if (viewMode === 'test slvd rating') {
                // A-Z
                const slvdRating = asset.traits['slvd rating'].toUpperCase();
                ctx.fillStyle = colors?.[slvdRating] || (colors[slvdRating] = lerpColor('#d35b53', '#83a771', (slvdRating.charCodeAt(0) - 65) / 26));
              }

              if (viewMode === 'buy now') {
                if (asset.listing_link) {
                  ctx.fillStyle = '#5ee7ff';
                } else {
                  ctx.fillStyle = '#ff4040';
                }
              }

              if (highlightX == x && highlightY == y) {
                setTimeout(() => {
                  ctx.beginPath();
                  ctx.lineWidth = 5;
                  ctx.strokeStyle = 'red';
                  ctx.arc(coordX + squareSize / 2, coordY + squareSize / 2, squareSize * 2, 0, 2 * Math.PI);
                  ctx.stroke();
                }, 5);

                ctx.fillStyle = 'red';
              }

              // if ((asset.traits['slvd rating'] !== 'a' && asset.traits['slvd rating'] !== 'b') || !asset.listing_price || asset.listing_price > 8000) {
              //   ctx.fillStyle = '#333';
              // }

              // if (x > 90 && x < 100 && y === 66) {
              //   console.log(asset);
              //   ctx.fillStyle = 'red';
              // }

              // if (x === 43 && y === 9) {
              //   ctx.fillStyle = 'red';
              // }

              // if (asset.listing_price && asset.listing_price < 500) {
              //   ctx.fillStyle = 'red';
              // }

              // if (
              //   x !== 1 &&
              //   y !== 1 &&
              //   x !== mapWidth - 1 &&
              //   y !== mapHeight - 1 &&
              //   (!assets[`${x + 1},${y}`] ||
              //     !assets[`${x - 1},${y}`] ||
              //     !assets[`${x},${y + 1}`] ||
              //     !assets[`${x},${y - 1}`] ||
              //     !assets[`${x + 1},${y + 1}`] ||
              //     !assets[`${x - 1},${y - 1}`] ||
              //     !assets[`${x + 1},${y - 1}`] ||
              //     !assets[`${x - 1},${y + 1}`])
              // ) {
              //   if (asset.listing_link) {
              //     ctx.fillStyle = 'red';
              //     console.log(asset.listing_link);
              //   }
              // }

              // if (asset.traits.street === 'wright avenue') {
              //   ctx.fillStyle = 'red';
              // }

              // if (viewMode === 'test') {
              //   const img = new Image();
              //   img.src = asset.image;
              //   // img.src = 'https://service.cnftpredator.tools/ipfs/Qmf5phJASknAMAkLFy85Po4QkiGifEm7YJrFzViuTM6rma';
              //   img.onload = () => {
              //     ctx.drawImage(img, coordX, coordY, squareSize, squareSize);
              //   };
              // } else {
              ctx.fillRect(coordX, coordY, squareSize, squareSize);
              // }
            }
          }
        }

        function lerpColor(a, b, amount) {
          var ah = parseInt(a.replace(/#/g, ''), 16),
            ar = ah >> 16,
            ag = (ah >> 8) & 0xff,
            ab = ah & 0xff,
            bh = parseInt(b.replace(/#/g, ''), 16),
            br = bh >> 16,
            bg = (bh >> 8) & 0xff,
            bb = bh & 0xff,
            rr = ar + amount * (br - ar),
            rg = ag + amount * (bg - ag),
            rb = ab + amount * (bb - ab);

          return '#' + (((1 << 24) + (rr << 16) + (rg << 8) + rb) | 0).toString(16).slice(1);
        }

        const divPopover = document.querySelector('#popover');
        const pStreetName = document.querySelector('#name');
        const pCabinCoord = document.querySelector('#coord');
        const pCabinInfo = document.querySelector('#info');

        function getCursorPosition(canvas, event) {
          const rect = canvas.getBoundingClientRect();
          const x = event.clientX - rect.left;
          const y = event.clientY - rect.top;

          divPopover.style.top = `${rect.top + y + 5}px`;
          divPopover.style.left = `${rect.left + x + 5}px`;

          const relativeX = Math.floor(x / (squareSize + roadSize));
          const relativeY = Math.floor((squareSize * mapHeight + roadSize * mapHeight + squareSize * 2 - y) / (squareSize + roadSize));

          const asset = assets[`${relativeX},${relativeY}`];

          canvas.style.cursor = 'default';

          if (!asset) return null;

          pStreetName.innerText = `street: ${asset.traits.street} / price: ${asset.listing_price || 0}`;
          pCabinCoord.innerText = `coord (X,Y): ${relativeX},${relativeY}`;
          pCabinInfo.innerText = `size: ${asset.traits['cabin size']} / district: ${asset.traits.district} / slvd rating: ${asset.traits['slvd rating']}`;

          if (asset.listing_link) {
            canvas.style.cursor = 'pointer';
          }

          return asset;
        }

        canvas.addEventListener('mousemove', function (e) {
          getCursorPosition(canvas, e);
        });

        function openInNewTab(url) {
          window.open(url, '_blank').focus();
        }

        canvas.addEventListener('mousedown', function (e) {
          const asset = getCursorPosition(canvas, e);

          if (!asset) return;

          if (asset.listing_link) {
            openInNewTab(asset.listing_link);
          }
        });

        // for (const [street, color] of Object.entries(colors)) {
        //   const node = document.createElement('a');

        //   a.attribut;
        //   node.innerText = street;
        //   //   node.style.color = color;

        //   divStreets.appendChild(node);
        // }
      })();
    </script>
  </body>
</html>
